<h1>Sign In To Gifrap</h1>

<p>
  Someone is attempting to sign into Gifrap using this email. If that person is
  not you, please disregard this email. Feel free to delete this!
</p>

<p>
  If that person <strong>is</strong> you, then click the following link to
  sign in as <em><%= @user.name  %></em>.
</p>

<p>
  <%= link_to @url, @url %>
</p>
