<h1 class="border-black border-8 bg-red-400">Hi</h1>

<div data-controller="hello">
  <input data-hello-target="name" type="text">/</input>
  <button data-action="click->hello#greet">Greet</button>
</div>
