<% if @first_visit %>
  <div class="mx-auto my-3 flex max-w-5xl flex-wrap items-center justify-center rounded-xl bg-indigo-100 p-6 text-xl font-bold text-indigo-400" data-welcome="true" id="welcome">
    Welcome to Gifrap!
  </div>
<% end %>
