<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %> bg-shubox-light-purple flex items-center justify-center p-6 text-center text-lg">
      <div><%= value %></div>
    </div>
  <% end %>
<% end %>
