
<div
  id="container"
  class="h-screen"
  data-controller="uploader"
  data-action="keydown.esc->uploader#close"
  data-shubox-key="<%= ENV['SHUBOX_KEY'] %>"
  >
  Drag and drop

  <button class="shubox-clickable">Click to Upload</button>

  <%= turbo_frame_tag "uploader", class: "hidden h-screen items-center justify-center", target: "_top" %>
  <%= render @images %>
</div>
