
<div
  id="container"
  class="h-screen"
  data-controller="uploader"
  data-action="keydown.esc->uploader#close"
  data-shubox-key="<%= ENV['SHUBOX_KEY'] %>"
  >
  Drag and drop

  <button class="shubox-clickable">Click to Upload</button>

  <turbo-frame id="uploader" class="hidden h-screen items-center justify-center"></turbo-frame>

  <%= render @images %>
</div>
