<div
  id="container"
  class="mx-auto h-screen max-w-5xl "
  data-controller="uploader"
  data-action="keydown.esc->uploader#close"
  data-shubox-key="<%= ENV['SHUBOX_KEY'] %>"
  data-shubox-base-url="<%= ENV.fetch('SHUBOX_BASE_URL', 'https://api.shubox.io') %>">

  <div class="columns-2 gap-4 space-y-4 md:columns-4">
    <%= render @images %>
  </div>
</div>

<%= turbo_frame_tag "uploader", class: "hidden inset-0 flex items-center justify-center bg-black/75 backdrop-blur-lg", target: "_top" %>
