
<div
  id="container"
  class="h-screen"
  data-controller="uploader"
  data-action="keydown.esc->uploader#close"
  data-shubox-key="<%= ENV['SHUBOX_KEY'] %>"
  >
  Drag and drop

  <button class="shubox-clickable">Click to Upload</button>

  <%= turbo_frame_tag "uploader", class: "hidden h-screen items-center justify-center", target: "_top" %>

  <div class="mx-auto grid max-w-5xl grid-cols-2 gap-4 md:grid-cols-4">
    <div class="grid gap-4">
      <% @images.each_with_index do |image, index| %>
        <%= render image %><!-- <%= index %> -->
        <% if (index + 1) % 3 == 0 %></div><div class="grid gap-4"><% end %>
      <% end %>
    </div>
  </div>
</div>
