<div id="wrapper" class="">
  <div id="nav" class="" data-nav="true">
    <%= link_to "Gifrap", root_path %>

    <span class="" data-name="true"><%= current_user.name %></span>
  </div>

  <div id="welcome" class="" data-welcome="true">
    Welcome to Gifrap!
  </div>
</div>
